body {
    background-color: lightblue;
}

h2.Hi {
    font-family: 'Times New Roman', Times, serif;
}

h1.name {
    font-family: 'Times New Roman', Times, serif
}

h3.intro {
    font-family: 'Times New Roman', Times, serif
}

a.about {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a.academics {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a.work {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a.projects {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a.github {
    text-decoration: none;
}

img.github {
    height: 35px;
    width: 35px;
}

a.linkedin {
    text-decoration: none;
}

img.linkedin {
    height: 35px;
    width: 35px;
}

a.twitter {
    text-decoration: none;
}

img.twitter {
    height: 35px;
    width: 35px;
}

a.leetcode {
    text-decoration: none;
}

img.leetcode {
    height: 35px;
    width: 35px;
}