/*Styling for index*/
body.indexbody {
    background-color: lightblue;
}

h2.Hi {
    font-family: 'Times New Roman', Times, serif;
}

h1.name {
    font-family: 'Times New Roman', Times, serif
}

h3.intro {
    font-family: 'Times New Roman', Times, serif
}

a.about {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}

a.academics {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}

a.work {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}

a.projects {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    display: block;
    margin-bottom: 15px;
}

h2.checkout {
    margin-bottom: 20px;
}

a.github {
    margin-top: 20px;
    text-decoration: none;
}

img.github {
    height: 45px;
    width: 45px;
}

a.linkedin {
    margin-top: 20px;
    text-decoration: none;
}

img.linkedin {
    height: 45px;
    width: 45px;
}

a.twitter {
    margin-top: 20px;
    text-decoration: none;
}

img.twitter {
    height: 45px;
    width: 45px;
}

a.leetcode {
    margin-top: 20px;
    text-decoration: none;
}

img.leetcode {
    height: 45px;
    width: 45px;
}

/*Styling for about*/
body.aboutbody {
    background-color: lightblue;
}

h1.aboutme {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

a.home {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*Styling for academics*/
body.academicsbody {
    background-color: lightblue;
}

h1.myacademics {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/*Styling for work*/
body.workbody {
    background-color: lightblue;
}

h1.mywork {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/*Styling for projects*/
body.projectsbody {
    background-color: lightblue;
}

h1.myprojects {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}